body {
    font-size:16px;
    font-family: 'Quicksand', sans-serif;
}

/* コンテンツ表示画面 */
#output {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    box-sizing:border-box;
}

/* 入力フォーム */
#uname {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

#JAtext {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

#send {
    display: block;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

@media screen and (max-width:480px) {
    /* フォントサイズ */
    body {
        font-size: 14px;
    }
    
    /* コンテンツ表示画面 */
    #output {
        padding: 10px;
    }

    /* 入力フォーム */
    #uname {
        font-size: 14px;
        padding: 5px;
    }

    #text {
        font-size: 14px;
        height: 80px;
        padding: 5px;
    }

    #send {
        font-size: 14px;
        padding: 5px;
    }
}

